*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;

}


body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("wallpapr.jpg")
    no-repeat;
    background-size:cover;
    
}


.clock {
    width:100%;
    max-width: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
    

}

.clock h1{
    font-size:3.5rem;
    font-weight: 600;

}

.clock span {
    position:relative;
    top: -15px;
    margin-left:5px;
    font-size:20px;
    font-weight:700;
}


#watermark {
    position:fixed;
    bottom:20px;
    right:20px;
    color:aliceblue;
    
}